body{
    font-family: Ubuntu,sans-serif;
}
/* start nav-bar */
.navbar img{
    width: 200px;
    height: 30px;
}
.btn-primary{
    background-color: #431066;
    border: none;
    transition: 0.8s;
}
.btn-danger{
    background-color: #c6307d;
    border: none;
    transition: 0.8s;
}
/* end nav-bar */
/* start header */
.header{
    background-image: url("../images/2.png");
    background-size: cover;
    padding-bottom: 275px;
}
.header .left{
    padding-top: 100px;
    color: white;
    padding-bottom: 25px;
}
.header .left h1{
    font-size: 65px;
}
.header .left p{
    font-size: 25px;
    font-weight: 300;
}
button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid;
    transition: 0.5s;
    margin-bottom: 50px;
}
button:hover{
    background-color: white;
    color: black;
    border: none;
}
.header .content .right{
    text-align: center;
}
.header .right img{
    width: 100%;
}
/* end header */
/* start services */
.services .content{
    margin-top: -325px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.services .content .cont{
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 3px 10px grey;
    width: 30%;
    margin-right: 30px;
    padding-bottom: 30px;
    line-height: 1.6;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.services .content .cont h3{
    padding-top: 30px;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 600;
    transition: 0.6s;
}
.services .content .cont:hover h3{
    color: rgb(30, 133, 133);
}
.services .content .cont .one{
    color: #3a0e63 ;
}
.services .content .cont .two{
    color: #c04a87 ;
}
.services .content .cont  .three{
    color: #7145e0;
}
.services .content .cont svg{
    width: 100px;
    height: 45px;
    transition: 0.8s;
}
.services .content .cont:hover svg{
    padding-left: 35px;
    color:#03a9f4;
}
/* end services */
/* start devices */
.devices {
    padding-top: 100px;
    padding-bottom: 50px;
}
.devices .content{
    text-align: center;
}
.devices .content img{
    width: 100%;
    transition: 0.6s;
}
.devices .content h3{
    transform: translate(0px, -40px);
}
.devices .content .cont:hover img{
    transform: scale(0.8);
}
.devices .content .cont:hover h3{
    color: indianred;
}
/* end devices */
/* start buy */
.buy {
    background-color: #7145e0;
    color: white;
}
.buy .content img{
    width: 100%;
}
.buy .content h1{
    padding-top: 115px;
    font-size: 60px;
    font-weight: 600;
    transition: 0.6s;
}
.buy .content:hover h1{
    color:#fdef75;
}
button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid;
    transition: 0.5s;
}

/* end buy */
/* start connect  */
.connect{
    background-image: url("../images/bg2.png");
    background-size: cover;
}
.connect .content {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
}
.connect .content .cont{
    margin-bottom: 20px;
}
.connect .content h1{
    font-size: 40px;
    padding-bottom: 40px;
}
.connect .content img{
    margin: 25px;
    width: 65%;
    transition: 0.6s;
}
.connect .content .cont:hover img{
    transform: scale(0.9) rotate(-5deg);
}
.connect .content h3{
    padding-top: 15px;
    font-size: 25px;
    font-weight: 500;
    transition: 0.6s;
}
.connect .content .cont:hover h3{
    color: rgb(89, 81, 201);
}
.connect .content p{
    font-weight: 400;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
/* end connect  */
/* start section */
.section {
    background-color: black;
    background-size: cover;
    color: white;
    text-align: end;
    padding-bottom: 30px;
}

.section .content img{
    width: 100%;
}
.section .content .right{
    padding-top: 40px;
    padding-bottom: 40px;
}
.section .content h1{
    padding-top: 100px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
    transition: 0.5s;
}
.section .content:hover h1{
    color: #f5e56f;
}
.section .content p{
    font-weight: 300;
    padding-bottom: 20px;
}
/* end section */
/* start gear */
.gear .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.gear .content img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.gear .content h1{
    font-size: 65px;
    margin-bottom: -15px;
    padding-bottom: 30px;
    font-weight: 700;
}
.gear .content p{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    padding-bottom: 60px;
}
/* end gear */
/* start tablet */
.tablet{
    background-color: #c04a87;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}
.tablet .content img{
    width: 100%;
}
.tablet .content .left{
    padding-top: 60px;
}

.tablet .content h1,
.end .content h1{
    font-size: 60px;
    font-weight: 800;
}
.tablet .content p,
.end .content p{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* end tablet */
/* start explore */
.explore .content,
.end .content {
    padding-top: 60px;
    padding-bottom: 60px;
}
.explore .content h1{
    font-size: 32px;
}
.explore .content .right{
    text-align: end;
}
.explore .content .right button{
    border: 1px solid black;
    color: black;
    margin-top: 30px;
}
.explore .content .right button:hover{
    background-color: black;
    color: white;
}
/* end explore */
/* start footer  */
.footer{
    background-color: #431066;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
    font-size: 20px;
    font-weight: 600;
}
/* end footer */